:root {
    --main-text: black;
    --main-bg: #f2f2f2;
    --nav-bg: #1f203a;
    --nav-text: #f0f0f0;
    --nav-hover: #ffa54d;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  img {
      max-width: 100%;
      width: auto;
    height: auto;}
  
  html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  
  body {
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--main-text);
    background-color: #fff;
  }
  
  main, section{
    margin: 0 auto;
    background-color: var(--main-bg);
    width: 95%
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: var(--main-text);
  }
  nav a {
    color: var(--nav-text);
  }
  
  /* nav */
  
  header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--nav-bg);
    
  }

  .nav h1{
    color: var(--nav-text);
    padding-left: 1.5rem;
  }
  
  .nav-list {
    display: flex;
    margin: 0 1rem;
  }
  

  
  .nav-list a {
    display: block;
    font-size: 2.2rem;
    padding: 1rem 2rem;
  }
  
  .nav-list a:hover {
    color: var(--nav-hover);
    background: var(--hover-bg);
  }

 nav .github-svg {
    transition: transform 0.3s ease-in-out;
 }
 nav .github-svg:hover{
    transform: rotate(360deg) scale(1.2);
 }
  
 nav .linkedin-svg {
    transition: transform 0.2s ease-in-out;
 }
 nav .linkedin-svg:hover{
    transform: rotate(90deg);
 }
 /* // nav */

  section {
    width: 100%;
  }
  
  section:nth-of-type(1){
    height: 100vh;
  }

  #welcome-section div:nth-of-type(1) {
   height: 34rem;
   background-color: #fff;
  }
  
  #welcome-section article #welcome-div{
    background-color: var(--main-bg);
    margin: 4rem 0 0.5rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }

  #welcome-section p{
    margin: 0.5rem 1.5rem;
  }
  
  article{
    margin: 0 auto;
  }
  
  #welcome-section div:nth-of-type(2) {
    background-image : url("https://cdn.dribbble.com/users/1086141/screenshots/13875438/sea_turtle-01_4x.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    max-width: 50%;
    height: 34rem;
    margin-top: -10rem;
    
  margin: -23rem auto 0;
    border: solid var(--main-bg) 8px;
    border-radius: 50% ;
  }
  
  #welcome-section article {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
  }
  
  @media (min-width: 600px) {
    #welcome-section article #welcome-div{
      margin-top: 2rem;
      justify-content: space-around;
    }
  }


  #projects {
    text-align: center;
  }
  
  #projects h2 {
    margin-bottom: 1.5rem;
  }
  
  #projects div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 98%;
    margin: 0 auto;
  }
  
  #projects a{
    margin: 1.5rem;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform .2s;
  }
  
  #projects a:hover{
    transform: scale(1.1);
  }
  
  @media (min-width: 600px) {
    #projects div {
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
    }
    #projects a{
      width: 45%;
      height: auto;
    }
  }
  
  @media (min-width: 1000px) {
    #projects a{
      width: 30%;
      height: auto;
    }
  }
    
  #projects a img {
     max-width:100%;
    height: auto;
    max-height: 180.983px;
    object-fit: contain;
    padding-top: 0.5rem;
  }
  
  #projects a div {
    background-color: #fff;
    text-align: center;
    padding: 1rem 2rem;
    border-top: 1px solid var(--main-bg);
  }
  
  footer {
    height: 6rem;
    background-color: var(--nav-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
  }

  @keyframes size {
    0% {transform: scale(1);}
    50% {transform: scale(1.2);}
    100% {transform: scale(1);}
  }
  
 footer a{
    color: var(--main-bg);
    animation: size 2s ease-in-out infinite;
 }




 footer a:hover{
     color: var(--nav-hover);
 }
